/*----------------------------------------------------------------
    .../FONTS
	längre ner gör man mixin för fonten.
	baseFont ex med tranfsform osv.
-------------------------------------------------------------- */

@font-face {
  font-family: "Brandon Text";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/brandon_text_bold.svg#brandon_textbold") format("svg"), url("/fonts/brandon_text_bold.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/brandon_text_bold_italic.svg#brandon_textbold_italic") format("svg"), url("/fonts/brandon_text_bold_italic.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/brandon_text_light.svg#brandon_textlight") format("svg"), url("/fonts/brandon_text_light.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/brandon_text_light_italic.svg#brandon_textlight_italic") format("svg"), url("/fonts/brandon_text_light_italic.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/brandon_text_medium.svg#brandon_textmedium") format("svg"), url("/fonts/brandon_text_medium.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 600;
  font-style: italic;
  src: url("/fonts/brandon_text_medium_italic.svg#brandon_textmedium_italic") format("svg"), url("/fonts/brandon_text_medium_italic.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/brandon_text_regular.svg#brandon_text_regularregular") format("svg"), url("/fonts/brandon_text_regular.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/brandon_text_regular_italic.svg#brandon_textregular_italic") format("svg"), url("/fonts/brandon_text_regular_italic.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 200;
  font-style: normal;
  src: url("/fonts/brandon_text_thin.svg#brandon_textthin") format("svg"), url("/fonts/brandon_text_thin.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 200;
  font-style: italic;
  src: url("/fonts/brandon_text_thin_italic.svg#brandon_textthin_italic") format("svg"), url("/fonts/brandon_text_thin_italic.woff") format("woff"); }



  @font-face {
  font-family: 'Proxima';
         src: url(../fonts/proximanova-regular-webfont.eot?1307578394);
         src: url('../fonts/proximanova-regular-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-regular-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-regular-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-regular-webfont.svg#webfont2rpW2ohz') format('svg')
  }
  @font-face {
         font-family: 'Proxima';
         font-style: italic;
         src: url(../fonts/proximanova-regitalic-webfont.eot?1307578394);
         src: url('../fonts/proximanova-regitalic-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-regitalic-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-regitalic-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-regitalic-webfont.svg#webfont2rpW2ohz') format('svg')
  }
  @font-face {
         font-family: 'Proxima';
         font-weight: 300;
         src: url(../fonts/proximanova-light-webfont.eot?1307578394);
         src: url('../fonts/proximanova-light-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-light-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-light-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-light-webfont.svg#webfont2rpW2ohz') format('svg')
  }
  @font-face {
         font-family: 'Proxima';
         font-weight: 600;
         src: url(../fonts/proximanova-semibold-webfont.eot?1307578394);
         src: url('../fonts/proximanova-semibold-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-semibold-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-semibold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-semibold-webfont.svg#webfont2rpW2ohz') format('svg')
  }
  @font-face {
         font-family: 'Proxima';
         font-weight: 600;
         font-style: italic;
         src: url(../fonts/proximanova-semibolditalic-webfont.eot?1307578394);
         src: url('../fonts/proximanova-semibolditalic-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-semibolditalic-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-semibolditalic-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz') format('svg')
  }
  @font-face {
         font-family: 'Proxima';
         font-weight: bold;
         src: url(../fonts/proximanova-bold-webfont.eot?1307578394);
         src: url('../fonts/proximanova-bold-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-bold-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-bold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-bold-webfont.svg#webfont2rpW2ohz') format('svg')
  }
  @font-face {
         font-family: 'Proxima';
         font-weight: bold;
         font-style: italic;
         src: url(../fonts/proximanova-boldit-webfont.eot?1307578394);
         src: url('../fonts/proximanova-boldit-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-boldit-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-boldit-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-boldit-webfont.svg#webfont2rpW2ohz') format('svg')
  }
  @font-face {
         font-family: 'Proxima';
         font-weight: 900;
         src: url(../fonts/proximanova-extrabold-webfont.eot?1307578394);
         src: url('../fonts/proximanova-extrabold-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-extrabold-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-extrabold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-extrabold-webfont.svg#webfont2rpW2ohz') format('svg')
  }
