/*----------------------------------------------------------------
    .../FONTS
	längre ner gör man mixin för fonten.
	baseFont ex med tranfsform osv.
-------------------------------------------------------------- */

@font-face {
  font-family: "C";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/c_book.ttf");
}
