/*----------------------------------------------------------------
    .../FONTS
	längre ner gör man mixin för fonten.
	baseFont ex med tranfsform osv.
-------------------------------------------------------------- */

@font-face {
  font-family: "Brandon Text";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/brandon_text_bold.svg#brandon_textbold") format("svg"), url("/fonts/brandon_text_bold.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/brandon_text_bold_italic.svg#brandon_textbold_italic") format("svg"), url("/fonts/brandon_text_bold_italic.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/brandon_text_light.svg#brandon_textlight") format("svg"), url("/fonts/brandon_text_light.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/brandon_text_light_italic.svg#brandon_textlight_italic") format("svg"), url("/fonts/brandon_text_light_italic.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/brandon_text_medium.svg#brandon_textmedium") format("svg"), url("/fonts/brandon_text_medium.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 600;
  font-style: italic;
  src: url("/fonts/brandon_text_medium_italic.svg#brandon_textmedium_italic") format("svg"), url("/fonts/brandon_text_medium_italic.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/brandon_text_regular.svg#brandon_text_regularregular") format("svg"), url("/fonts/brandon_text_regular.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/brandon_text_regular_italic.svg#brandon_textregular_italic") format("svg"), url("/fonts/brandon_text_regular_italic.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 200;
  font-style: normal;
  src: url("/fonts/brandon_text_thin.svg#brandon_textthin") format("svg"), url("/fonts/brandon_text_thin.woff") format("woff"); }
@font-face {
  font-family: "Brandon Text";
  font-weight: 200;
  font-style: italic;
  src: url("/fonts/brandon_text_thin_italic.svg#brandon_textthin_italic") format("svg"), url("/fonts/brandon_text_thin_italic.woff") format("woff"); }

  @font-face {
    font-family: "Akzidenz Grotesk Bold";
    font-weight: 200;
    font-style: italic;
    src: url("/fonts/akzidenz.grotesk.bold.ttf") format("tff"); }
