/*----------------------------------------------------------------
		BASE VARIABLES
-------------------------------------------------------------- */

$baseMargin: 20px;
$basePadding: 20px;

$baseBorderColor: $black;
$baseBorderRadius: 3px;
$baseBorderWidth: 1px;

$btnPaddning: 8px 14px;
$btnPaddningMd: 10px 12px;
$btnPaddingLg: 12px 18px;

$inputPaddning: 8px 18px;

/*----------------------------------------------------------------
		BREAKPOINTS/GRID
-------------------------------------------------------------- */

$containerWidth: 1120px;
$containerWidthTablet: 800px;
$containerWidthPhone: 100%;

$screen-xs:      480px !default;
$screen-sm:      768px !default;
$screen-md:      1020px !default;
$screen-lg:      1020px !default;

$xs:  "(min-width: 480px)";
$sm:  "(min-width: 768px)";
$md:  "(min-width: 992px)";
$lg:  "(min-width: 1020px)";

$grid-columns: 12;
$grid-gutter-width: $basePadding;

/*----------------------------------------------------------------
		TYPOGRAPHY
-------------------------------------------------------------- */

$primaryFont: Fakt;
$secondaryFont: sans-serif;

$baseFontSize: 18px;
$baseBtnFontSize: 16px;
$baseLineHeight: 150%;

$fontH1l: 42px;
$fontH1: 32px;
$fontH2: 24px;
$fontH3: 20px;
$fontH4: 16px;

$fontThin: 200;
$fontNormal: 400;
$fontBold: bold;
$fontBolder: bolder;
